<table border="1" align="center" bgcolor="#daa520">
  <tr>
    <td>
      <div align="center">
        <h3>Editar Médico</h3>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <%= render "form", medic: @medic %>
    </td>
  </tr>
</table>