<table border="2" align="center" bgcolor="#228b22">
  <tr>
    <td colspan="2">
      <table>
        <tr>
          <td>
            Medicos
          </td>
          <td>
            <%= image_tag 'doctor.gif' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <% @medic.each do |medic| %>
    <tr>
      <td>
        <%= link_to medic.name, medic %>
      </td>
    </tr>
  <% end %>
</table>
