<table border="2" align="center" bgcolor="#228b22">
  <tr>
    <td colspan="2">
      Pacientes
    </td>
  </tr>
  <% @patient.each do |patient| %>
  <tr>
    <td>
      <%= link_to patient.name, patient %>
    </td>
  </tr>
  <% end %>
</table>
